body {
background-color: #99e6e6;
;
}

.container {
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  background: url("../images/cloud.jpg") no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
}

#list {
  font-size: 18pt;
  list-style: none;
  padding: 2%;
}

#list ul {
  font-style: italic;
}

.form-group {
  margin-left: 40%;
  margin-right: 40%;
}
pre{
  font-weight: bolder;
}
pre h2{
  color: #990000;
}
.form-group{
  color: #00091a;
  font-weight: bolder;

}
